/* CSS*/

  body {
    background: #EEE url("http://orig09.deviantart.net/33da/f/2014/319/6/9/mega_rayquaza_wallpaper_2_by_glench-d86ir2d.png") no-repeat left fixed;
  }
.button{color:black;background:#4dc199!important;border:solid 1px black!important}.menugroup

.button:hover,.menugroup

.button:active{color:white;background:#4dc199!important;border:solid 1px black!important
}

/*CSS-End*/
